<!-- landing.component.html -->
<div class="landing-page">
  <div class="welcome-message">
    <h2>Welcome to My Portfolio!</h2>
    <p>Explore my work and learn more about what I do.</p>
  </div>
  <div class="hero-section hidden">
    <h1>Venkat Narayana Kothakota</h1>
    <p>Frontend Developer based in Hyderabad</p>
    <div class="hero-buttons">
      <button class="btn-primary" onclick="window.location.href='portfolio/resume'">View Resume</button>
      <button class="btn-secondary" onclick="window.location.href='portfolio/projects'">My Projects</button>
    </div>
    <button  class="download-btn" onclick="window.location.href='portfolio/resume'">
      testing
    </button>
    
  </div>

  <div class="tread-design hidden"></div> <!-- Tread design element -->
</div>
